/* #region debug */

.debug #site-header {
    height: 100px;
    background-color: red;
}

.debug #site-header .col-50 {
    height: 100%;
    background-color: lightpink;    
}

.debug #site-header .nav-bar {
    height: 100%;
    width: 100%;
}

.debug #site-main .container-lg {
    height: 80vh;
    background-color: blue;
}

.debug #site-main .medium .container-lg {
    height: 600px;
}


.debug #site-main .container-md {
    height: 100%;
    background-color: red;
}

.debug #site-footer .container-md {
    height: 200px;
    background-color: red;
}

.debug #site-main .container-sm {
    background-color: lightgreen;
}

.debug #site-main .text-business {
    height: 100px;
    background-color: aqua;
}

.debug #site-main .col-30 {
    height: 100vh;
    background-color: lightpink;
}

.debug #site-main .col-100 {
    height: 100px;
    background-color: lightpink;
}

.debug #site-main .col-50 {
    height: 500px;
    background-color: lightpink;
}

.debug #site-main .business,
.debug #site-main .partner,
.debug #site-main .actions,
.debug #site-main .customers {
    padding: 10px 0;
}

.debug #site-main .actions .col-30 {
    height: 50vh;
    margin-bottom: 10px;
    background-color: lightpink;
}

.debug #site-main .customers {
    height: 300px;
}

.debug #site-main .medium .col-30,
.debug #site-main .medium .col-40,
.debug #site-main .medium .col-50 {
    height: 50vh;
    background-color: lightpink;
}

.debug #site-main .lower .container-sm {
    height: 500px;
}

.debug #site-footer .col-20 {
    height: 300px;
    background-color: lightpink;
}

/* #endregion debug */

/* colors 
light: #0061FF;
primary: #B4D0E7;
*/

/* #region common */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1440px;
}

#site-header,
#site-main,
#site-footer {
    font-family: var(--font-family);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--darker);
}

img {
    max-width: 100%;
}

/* input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
} */

h2 {
    font-size: 35px;
}

h3 {
    font-size: 22px;
}

/* #endregion common */

/* #region utility */

:root {
    --lighter: white;
    --primary: #0061FF;
    --secondary: #B4D0E7;
    --darker: black;
    --paledark: #737373;
    --dark: #D0D0D0;
    --alternative: #61082B;
    --light: #DEDEE0;
    --font-family: 'Open Sans', sans-serif;
    --linkclassic: #1F73FF;
    --palesecondary: #F5F5F5;
    --florida: #0093CE;
    --arizona: #61082B;
    --designit: #A2D39B;
    --bdesignit: #D0E9CD;
    --topps: #FF1C1C;
    --lonely: #0D2481;
    --bicycle: #D5001F;
    --clear: #FFD830;
    --bfaq: #EEEEEF;    
}

.container-md {
    width: 1157px;
    margin: auto;
}

.container-sm {
    width: 80%;
    margin: auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* input {
    color: -internal-light-dark(white, var(--primary));
} */

[class^="col-"] {
    float: left;
}

/* .col-100,
.col-70,
.col-67,
.col-50,
.col-40,
.col-33,
.col-30,
.col-20 {
    float: left;
} */

.col-100 {
    width: 100%;
}

.col-94 {
    width: 94%;
}

.col-90 {
    width: 90%;
}

.col-80 {
    width: 80%;
}

.col-70 {
    width: 70%;
}

.col-67 {
    width: 67%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-33 {
    width: 33%;
}

.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}

.col-10 {
    width: 10%;
}

.col-6 {
    width: 6%;
}

.p-relative {
    position: relative;
}

.mg-0-5 {
    margin: 0 5%;
}

.row, .w-100 {
    width: 100%;
}

.bt-1 {
    border-top: 1px solid var(--paledark);
}

.p-0-1 {
    padding: 0 1rem;
}

.ta-right {
    text-align: right;
}

.ta-center {
    text-align: center;
}

.ta-left {
    text-align: left;
}

.btn {
    background-color: transparent;
    padding: 0.35rem 1rem;
}

.btn.primary {
    color: var(--lighter);
    background-color: var(--primary);
}

.btn.darker {
    color: var(--darker);
    border: 1px solid var(--dark);
}

.bold {
    font-weight: bold;
}

.v-middle {
    vertical-align: middle;
}

.m-lf-10 {
    margin-left: 10px;
}

ul.inline-list {
    display: inline-block;
    list-style: none;    
}

ul.inline-list > li {
    display: inline-block;
}

.d-inline-block {
    display: inline-block;
}

.fs-45 {
    font-size: 45px;
}

.fs-22 {
    font-size: 22px;
}

.fs-15 {
    font-size: 15px;
}

.fs-14 {
    font-size: 14px;
}

.fs-13 {
    font-size: 13px;
}

.fs-12 {
    font-size: 12px;
}

.d-block {
    display: block;
}

a.classic {
    font-weight: 700;
    color: var(--linkclassic);
    text-decoration: underline;
    text-decoration-color: var(--light);
}

.bb-light {
    border-bottom: 1px solid var(--light);
}

.pt-1 {
    padding-top: 1rem;
}

.mt-1 {
    margin-top: 2.25rem;
} 

.mt-4 {
    margin-top: 4rem;
}

.h-450 {
    height: 450px;
}

.p-1-0 {
    padding: 1rem 0;
}

.underline {
    text-decoration: underline;
}

.h-400 {
    height: 400px;
}

.p-relative {
    position: relative;
}

.r-0 {
    right: 0;
}

/* #endregion utility */

/* #region site-header */

#site-header {
    font-size: 13px;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    background-color: var(--lighter);
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--palesecondary);
}

nav.nav-bar {
    height: 60px;
    line-height: 60px;
}

#site-header .btn {
    font-size: 11px;
}

.pr-2 {
    padding-right: 2rem;
}

.nav-bar .navicon {
    margin-left: 1rem;
}

/* #region dropdown */

/* .dropdown-content {

} */


/* #endregion dropdown */

/* #endregion site-header */

/* #region site-main */

#site-main .jumbo > img {
    width: 100vw;
}

#site-main .firms {
    margin-top: 6rem;
}

#site-main .title-firms h2 {
    line-height: 3rem;
}

#site-main .logos {
    margin-top: 4rem;
}

#site-main .logos .col-20 {
    height: 150px;
}

#site-main .logos img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* #endregion site-main */


/* #region site-footer */

#site-footer {
    background-color: var(--darker);
    color: var(--dark);
    margin-top: 4rem;
}

/* #region links */

.links h4 {
    margin-bottom: 1rem;
    color: var(--lighter);
}

.links li {
    margin-top: 0.5rem;
}

.links a {
    color: var(--dark);
}

#site-footer .links {
    padding: 4rem 0;
}

/* #endregion links */

/* #region language */

#site-footer .language span {
    padding: 2rem 0;
    color: var(--paledark);
}

#site-footer .language span i.fa.fa-globe {
    color: grey;
}

/* #endregion language */

/* #endregion site-footer */

