/*****
debug
*****/

.debug #site-header {
    height: 100px;
    background-color: red;
}

.debug #site-header .col-50 {
    height: 100%;
    background-color: lightpink;    
}

.debug #site-header .nav-bar {
    height: 100%;
    width: 100%;
}

.debug #site-main .container-lg {
    height: 80vh;
    background-color: blue;
}

.debug #site-main .container-md {
    height: 100%;
    background-color: red;
}

.debug #site-main .text-business {
    height: 100px;
    background-color: aqua;
}

.debug #site-main .col-30 {
    height: 100vh;
    background-color: lightpink;
}

.debug #site-main .col-100 {
    height: 100px;
    background-color: lightpink;
}

.debug #site-main .col-50 {
    height: 500px;
    background-color: lightpink;
}

.debug #site-main .business,
.debug #site-main .partner {
    padding: 10px 0;
}


/*****
common
******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    min-width: 1440px;
}
 */

.container-md {
    width: 1200px;
    margin: auto;
}

.container-sm {
    width: 80%;
    margin: auto;
}

/******
utility
*******/

.row {
    content: "";
    display: table;
    clear: both;
}

.col-100 {
    width: 100%;
}

.col-50 {
    width: 50%;
}

.col-30 {
    width: 30%;
}

.p-relative {
    position: relative;
}

.mg-0-5 {
    margin: 0 5%;
}

.w-100 {
    width: 100%;
}

/* * [class^="col"] {
    float: left;
}*/

/**********
site-header
***********/

#site-header .col-50 {
    float: left;
}

/********
site-main
*********/

#site-main .col-30, 
#site-main .col-100, 
#site-main .col-50 {
    float: left;
}
